body {
  margin: 0 auto;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.old-price {
  text-decoration: line-through;
}

.discount-price {
  color: red;
}

.collapsible {
  background-color: white;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 23px;
  font-weight: bold;
  content: "\02795";
  border-bottom: 1px solid #c9ccd5;
  display: flex;
  justify-content: space-between;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  display: none;
  overflow: hidden;
  width: 100%;
}

.collapsible:after {
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.category-list {
  display: grid;
  list-style: none;
  gap: 10px;
}

.category-list li {
  position: relative;
  right: 25px;
}

@media (max-width: 1023px) {
  .hide {
    display: none;
  }
}

@media (max-width: 768px) {
  .category-list {
    justify-items: start;
  }
}
